.jumbotron {
  background-color: darkgrey;
  position:relative;
  color: white;
}

.form-input {
  font-size: 24px;
  color: lightgrey;
}

body {
    font-family: ProximaNovaReg, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h3 {
    color: #bb3794;
}
a {
    text-decoration: none;
}

a, a:visited {
    color: rgb(84, 180, 210);
}

a:hover {
    color: rgb(51,159,192);
}

th {
    text-align: left;
}

td, th {
  padding-right: 20px;
}

.address {
    font-size: 0.8em;
    color: #888;
}

.bio {
    font-size: 0.9em;
}
